* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(51, 56, 70);
  display: flex;
  flex-direction: column;

  color: rgb(83, 122, 83);
}

h3 {
  margin-bottom: 25px;
}

img {
  width: 250px;
  height: auto;
}

.title-container {
  display: flex;
  justify-content: center;
  min-height: 300px;
}

.title {
  width: 900px;
  display: flex;
  justify-content: center;
}

.heading {
  font-size: 150px;
  margin: 35px 0 100px;
  text-shadow: 10px 0 #000;
  font-family: "Lobster", cursive;
}

.players-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  gap: 80px;
  flex: 1;
  font-family: "Gajraj One", cursive;
  font-size: 22px;
}

.footer-container {
  display: flex;
  justify-content: center;
  min-height: 200px;
}
